<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pushRecordMapper">

	<cache type="org.mybatis.caches.oscache.OSCache"/>
	
	<insert id="add" parameterType="pushRecord">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into push_record (sendno,receivertype,receivervalue,type,content,description,title,extras,status,statuscode,createtime)
		values (#{sendno},#{receivertype},#{receivervalue},#{type},#{content},#{description},#{title},#{extras},#{status},#{statuscode},#{createtime})
	</insert>

	<delete id="deleteById" parameterType="int">
		delete from push_record where id
		= #{id}
	</delete>

	<delete id="deleteByIds" parameterType="java.util.List">
		delete from push_record where id in
		<foreach collection="list" index="index" item="id" open="("
			separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="getById" parameterType="int" resultType="pushRecord" useCache="false">
		select *
		from push_record where id = #{id}
	</select>
	
	<select id="getList" parameterType="pushRecord" resultType="pushRecord" useCache="false">
		select
		*
		from push_record 
		<where>
			1=1 
			<if test="content != null and content != ''">
				and content like concat('%',#{content},'%')
			</if>
			<if test="receivervalue != null and receivervalue != ''">
				and receivertype='2' and receivervalue like concat('%',#{receivervalue},'%')
			</if>
			<if test="receivertype != null and receivertype>0">
				and receivertype=#{receivertype}
			</if>
			
		</where>
		order by createtime desc;
	</select>
	<select id="getCount" parameterType="pushRecord" resultType="long" useCache="false">
		select count(*) from push_record 
		<where>
			1=1 
			<if test="content != null and content != ''">
				and content like concat('%',#{content},'%')
			</if>
			<if test="receivervalue != null and receivervalue != ''">
				and receivertype='2' and receivervalue like concat('%',#{receivervalue},'%')
			</if>
			<if test="receivertype != null and receivertype>0">
				and receivertype=#{receivertype}
			</if>
		</where>
	</select>
	
</mapper>